/* #services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
} */
.box{
    border: 2px solid red;
    background-color: rgb(234 234 234);
    margin: -222px 15px;
    width: 13rem;
    border-radius: 16px;
    height: 32rem;
    margin-bottom: 33px;
    text-overflow: unset;
    padding: 20px 25px;
    font-size: 1rem;
}
.box img {
    margin: 20px auto;
    width: 154px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
}
/* #primaryheading4{
    font-size: 2rem;
}
.primaryheading2{
    font-size: 2rem;
}
.primaryheading3{
    font-size: 2rem;
}
  */